{% extends 'Backend/Dashboard/base.html' %}
{% load static %}

{% block title %}

    <title>Sites | Ecotonics</title>

{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}

    <!-- Bordered Table -->
    <div class="card card-action">
      <div class="card-header align-items-center flex-wrap gap-3 py-4">
        <h5 class="card-action-title mb-0">SERVICES</h5>
        <div class="card-action-element">
          <!-- <button class="btn btn-label-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewAddress"> ADD NEW SITE </button> -->
          <a class="btn btn-label-primary" href="" data-bs-toggle="modal" data-bs-target="#addService">ADD NEW SERVICE</a>
        </div>
      </div>
      <!-- <h5 class="card-header">WORK SITES</h5> -->
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>Sl No</th>
                <th>DATE</th>
                <th>CATEGORY</th>
                <th>SERVICE</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
                {% if services %}
                    {% for service in services %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ service.Date | date:'d M Y' }}</td>
                            <td>{{ service.Category }}</td>
                            <td>{{ service.Title }}</td>
                            <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"> 
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                <!-- <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a> -->
                                <a class="dropdown-item" href="{% url 'delete-service' service.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
                {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Bordered Table -->

</div>

<!-- Edit User Modal -->
<div class="modal fade" id="addService" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3>Add New Service</h3>
            <p>Add new service, this will be show while you adding work or leads</p>
          </div>
          <form id="" class="row g-3" method="post" action="{% url 'add-service' %}">
            {% csrf_token %}
            <div class="col-12 col-md-6">
              <label class="form-label" for="category">Service Category</label>
              <select name="category" id="category" class="form-control" required>
                <option value="">Select Service Category</option>
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.Title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="title">Title</label>
              <input type="text" id="title" name="title" class="form-control" placeholder="Enter Category Title" required/>
            </div>
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
              <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<!--/ Edit User Modal -->

{% endblock content %}

{% block js %}
<script src="{% static 'Backend/js/dashboards-analytics.js' %}"></script>
{% endblock js %}