{% load static %}
<!doctype html>

<html lang="en" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="{% static 'Backend/' %}" data-template="vertical-menu-template">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Login | Ecotonics</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'Backend/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'Backend/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'Backend/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'Backend/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'Backend/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'Backend/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'Backend/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'Backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'Backend/vendor/libs/typeahead-js/typeahead.css' %}" />

    <!-- Vendor -->
    <link rel="stylesheet" href="{% static 'Backend/vendor/libs/@form-validation/form-validation.css' %}" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'Backend/vendor/css/pages/page-auth.css' %}" />

    <!-- Helpers -->
    <script src="{% static 'Backend/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'Backend/vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'Backend/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">

              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="" class="app-brand-link gap-2">
                  <img src="{% static 'Backend/img/icons/Logo.png' %}" alt="" style="width: 250px;">
                </a>
              </div>
              <!-- /Logo -->

              <form id="formAuthentication" class="mb-3" action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" autofocus />
                </div>

                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                </div>
              </form>

              {% if messages %}
                {% for message in messages %}
                  <p class="text-center text-danger">{{ message }}</p>
                {% endfor %}
              {% endif %}

              <div class="divider my-4">
                <div class="divider-text">or</div>
              </div>

              <div class="d-flex justify-content-center">
                <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
                  <i class="tf-icons bx bxl-facebook"></i>
                </a>

                <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
                  <i class="tf-icons bx bxl-google-plus"></i>
                </a>

                <a href="javascript:;" class="btn btn-icon btn-label-twitter">
                  <i class="tf-icons bx bxl-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="{% static 'Backend/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'Backend/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'Backend/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'Backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'Backend/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'Backend/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'Backend/vendor/libs/typeahead-js/typeahead.js' %}"></script>
    <script src="{% static 'Backend/vendor/js/menu.js' %}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'Backend/vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'Backend/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'Backend/vendor/libs/@form-validation/auto-focus.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'Backend/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'Backend/js/pages-auth.js' %}"></script>
  </body>
</html>
