{% load static %}

<!-- Cashflow overview -->
<div class="card">
    <div class="row row-bordered g-0">
        <div class="col-md-12">
        <div class="card-header d-flex justify-content-between">
            <div>
            <h5 class="card-title mb-0">Report</h5>
            <small class="card-subtitle">Monthly Avg. $45.578k</small>
            </div>
        </div>

        <div class="card-body">
            <div class="report-list">

                <div class="row">
                    <div class="col-md-4">
                        <div class="report-list-item rounded-2 mb-3">
                            <div class="d-flex align-items-start">
                            <div class="report-list-icon shadow-sm me-2">
                                <img
                                src="{% static 'Backend/svg/icons/paypal-icon.svg' %}"
                                width="22"
                                height="22"
                                alt="Paypal" />
                            </div>
                            <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                <div class="d-flex flex-column">
                                <span>Income</span>
                                <h5 class="mb-0">$42,845</h5>
                                </div>
                                <small class="text-success">+2.34k</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="report-list-item rounded-2 mb-3">
                            <div class="d-flex align-items-start">
                            <div class="report-list-icon shadow-sm me-2">
                                <img
                                src="{% static 'Backend/svg/icons/shopping-bag-icon.svg' %}"
                                width="22"
                                height="22"
                                alt="Shopping Bag" />
                            </div>
                            <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                <div class="d-flex flex-column">
                                <span>Expense</span>
                                <h5 class="mb-0">$38,658</h5>
                                </div>
                                <small class="text-danger">-1.15k</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="report-list-item rounded-2">
                            <div class="d-flex align-items-start">
                            <div class="report-list-icon shadow-sm me-2">
                                <img
                                src="{% static 'Backend/svg/icons/wallet-icon.svg' %}"
                                width="22"
                                height="22"
                                alt="Wallet" />
                            </div>
                            <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                <div class="d-flex flex-column">
                                <span>Profit</span>
                                <h5 class="mb-0">$18,220</h5>
                                </div>
                                <small class="text-success">+1.35k</small>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        </div>
    </div>
</div>
<!--/ Cashflow overview -->

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible mt-4" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}